@import url(./bootstrap.min.css);

.main-container{
    display: flex;
    height: 100vh;
    /* justify-content: center; */
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.passDetails{
    padding: 10px;
    display: flex;
    gap: 50px;
}
p{
    margin: 5px;
    padding: 5px;
}